.problem-card-container {
    background-color: white;
    border-radius: 30px;
    width: 95%;
    margin: auto;
    margin-top: 12px;
    padding-top: 12px;
}

.problem-cards {
    display: inline-block;
}