.testfile-card {
    border: 3px solid lightgrey;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;

    &-header {
        text-align: right;
        font-size: 12px;
        margin: 8px;
    }

    &-body {
        align-items: flex-end;
    }
}

.testfile-card:hover {
    border : 3px solid rgb(22, 212, 149);
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
}

.testfile-card-title {
    font-size: 12px;
    font-weight: 1000;
}

.testfile-card-footer {
    background-color: rgb(199, 198, 198);
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
    text-align: center;
}

.testfile-card-footers {
    background-color: transparent; 
}