.ad-container {
    display: flex;
    background-color: white;
    border-radius: 30px;
    width: 95%;
    margin: auto;
    height: 20%;
    position: relative;
    border-color: blue;
    border-width: 1px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.ad-container .ad-content {
    display: flex;
    text-align: center;
}