.db-card {
    border: 3px solid lightgrey;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 18px;
}

.db-card:hover {
    border : 3px solid rgb(22, 212, 149);
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 18px;
}

.card-text {
    width: 80%;
    height: 100%;
    font-size: 10px;
}

.text-top {
    height: 20%;
    font-family: pretendard;
    font-weight: 800;
}

.text-medium {
    height: 60%;
    font-size: 14px;
    font-weight: 1000;
    font-family: pretendard;
    
}

.text-bottom {
    height: 20%;
    font-size: 14px;
    font-weight: 1000;
    color: rgb(22, 212, 149);
    font-family: pretendard;
}

.card-image {
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.image-image {
    height: 40%;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-family: pretendard;
    
}

.image-button {
    height: 60%;
    width: 100%;
    font-size: 10px;
    font-stretch: 100%;
    padding: 0px;
    align-items: flex-start;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
    text-size-adjust: 100%;
    color: grey;
    font-family: pretendard;
}