.left-container {
    width: 889px;
    height: 792.5px;
    border: 8px solid lightgrey;
    border-radius: 30px;
    box-sizing: border-box;
    color:rgb(17, 17, 17);
    padding: 0px 16px 16px 16px;
    background-color: rgb(255, 255, 255);

}

.left-button {
    align-items: flex-start;
    background-color: rgb(240, 240, 240);
    border-color: rgb(0, 0, 0);
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 13.3333px;
    font-stretch: 100%;
    height: 56px;
    width: 142.828px;
}

.right-container {
    background-color: rgb(255, 255, 255);
    border: 8px solid lightgrey;
    border-radius: 30px;
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    font-size: 14px;
    line-height: 17.5px;
    padding: 0px 16px 16px 16px;
    height: 237.5px;
    width: 889px;
}