.secondary-container {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    width: 889px;
    height: 445.500px;
    padding: 0px 16px 16px 16px;
    border: 8px solid lightgrey;
    border-radius: 30px;
    box-sizing: border-box;
}

.top-button {
    width: 428.500px;
    height: 56px;
    background-color: rgb(240, 240, 240);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 13.3333px;
    font-family: Arial;
    align-items: flex-start;
}