.secondary-container {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    width: 889px;
    height: 445.500px;
    padding: 0px 16px 16px 16px;
    border: 8px solid lightgrey;
    border-radius: 30px;
    box-sizing: border-box;
}

.left-container {
    @include button-ui (
        $ui: 'disabled',
        $background-color: lightgrey
    );

    @include button-ui (
        $ui: 'active',
        $background-color: lightgreen
    )
}
