.side-panel {
    @include panel-ui (
        $ui: 'side-panel-ui',
        $header-background-color : white,
        $header-color: black,
        $body-background-color: white,
        $body-color: black,
        $body-border-style: 10px black,
        $header-font-size: 14px,
        $header-font-family: pretendard,
        $body-font-size: 14px,
        $tool-color: black,
        $anchor-background-color: white,
        $background-color: white
    )
}