.board {
    background-color: white;
    border-radius: 8px;
    border: transparent;
    padding: 0 16 16 16;
    box-sizing: border-box;

    &__header {
        display: flex;
        position: sticky;
        top: 0;
    }

    &__title {
        flex: 1;
    }

    &__shortcut {
        padding: 18px 4px;
        color: lightgreen;
        cursor: pointer;
        font-weight: bold;

        transition: all .2s;

        &:hover {
            color: darken(lightgreen, 15%);
        }

        &:active {
            color: lighten(lightgreen, 15%);
        }
    }
}