.home {
    &-user-button {
        font-size: 28px;
        line-height: 50px;
        font-family: pretendard;
        color: black;
    }

    &__body {
        display: flex;
        row-gap: 40px;
        column-gap: 40px;
    }

    &-user-button {
        background-color: rgb(236, 236, 236);
    }
}