.mathsecr {
    font-family: pretendard;
    font-weight: '20px';
    font-size: '30px';
    color: black;
    background-color: rgb(255,255,255);
}

.header-panel {
    height: 5%;
}

.header-button {
    color: black;
    font-family: pretendard;
    background-color: rgb(255,255,255);
}

.space {
    background-color: rgb(255,255,255);
    width: 100%
}